<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.trace">

	<uses-sdk android:minSdkVersion="4" />
	<supports-screens android:anyDensity="true"/>
	
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
	<uses-permission android:name="android.permission.VIBRATE"/>
   
    <application android:label="@string/app_name"
            android:icon="@drawable/icon" >
        <uses-library android:name="com.google.android.maps" />
            
		<activity
			android:name="com.mobile.trace.activity.StartActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
		</activity>

		<activity
			android:name="com.mobile.trace.activity.LoginActivity"
			android:label="@string/app_name">
		</activity>

		<activity
			android:name="com.mobile.trace.activity.TraceInfoListActivity"
			android:label="@string/app_name">
		</activity>

		<activity
			android:name="com.mobile.trace.activity.SettingActivity"
			android:label="@string/app_name">
		</activity>

        <activity
        	android:name="com.mobile.trace.activity.MapViewActivity">
			<intent-filter>
        		<action android:name="com.mobile.trace.maps"></action>
        	</intent-filter>
        </activity>
        
        <activity
			android:name="com.mobile.trace.activity.WarningListActivity"
			android:label="@string/app_name">
		</activity>
		
		<activity
			android:name="com.mobile.trace.activity.CommandListAcitvity"
			android:label="@string/app_name">
		</activity>

        <!-- activity android:name="com.mobile.trace.activity.MapViewCompassDemo" android:label="MapView and Compass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" ></action>
                <category android:name="android.intent.category.SAMPLE_CODE" ></category>
            </intent-filter>
        </activity -->
   </application>
</manifest>
